alembic
bcrypt
cffi
click
cryptography
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
gunicorn
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
pycparser
PyJWT
pyshorteners
python-dotenv
six
SQLAlchemy
Werkzeug
zipp
