alembic==0.8.10
asgiref==3.3.4
attrs==22.1.0
black==22.8.0
bleach==2.0.0
blinker==1.4
click==6.7
coverage==6.5.0
Django==3.2.15
django-cors-headers==3.13.0
dominate==2.7.0
flake8==5.0.4
Flask==0.12
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.2.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-Moment==0.5.1
Flask-PageDown==0.2.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
gcloud==0.17.0
googleapis-common-protos==1.56.4
gunicorn==20.1.0
html5lib==1.0b10
httplib2==0.20.4
iniconfig==1.1.1
itsdangerous==0.24
Jinja2==2.9.5
jws==0.1.3
Mako==1.0.6
Markdown==2.6.8
MarkupSafe==0.23
mccabe==0.7.0
mypy-extensions==0.4.3
oauth2client==3.0.0
packaging==21.3
pathspec==0.10.1
platformdirs==2.5.2
pluggy==1.0.0
protobuf==4.21.7
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycryptodome==3.4.3
pyflakes==2.5.0
pyparsing==3.0.9
Pyrebase==3.0.27
pytest==7.1.2
python-dotenv==0.21.0
python-editor==1.0.3
python-jwt==2.0.1
pytz==2021.1
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.9
six==1.10.0
SQLAlchemy==1.1.5
sqlparse==0.4.2
tomli==2.0.1
urllib3==1.26.12
visitor==0.1.3
webencodings==0.5.1
Werkzeug==0.11.15
WTForms==2.1
