.inner-dashboard {
    min-height: calc(100vh - 70px);
    overflow: scroll;
    padding: 30px;
    background: #F3F6FA;
    font-family: 'Inter';
}

.dashboard-commons {
    .flash-card__list {
        p.title {
            font-size: 16px;
            color: #000;
            font-weight: 600;
        }
        label {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 600;
        }
        input {
            height: 56px;
            padding: 0px 30px;
        }
        .flash-card__item {
            background: #fff;
            padding: 30px 30px 20px;
            margin-bottom: 20px;
            cursor: default;
            border-radius: 8px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            h5 {
                margin-bottom: 8px;
                font-weight: 600;
                color: #221daf;
            }
            .visibility-status {
                color: #757575;
                font-weight: 500;
            }
            i {
                font-size: 20px;
                font-weight: 400;
            }
            .menu {

            }
            p {
                color: #222;
                &.description {
                    font-size: 16px;
                    margin-bottom: 4px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &.items-count {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgb(88, 88, 88);
                    line-height: 20px;
                    margin-bottom: 20px;
                }
            }
            .bottom-section {
                p {
                    margin-bottom: 0px;
                    font-size: 14px;
                    text-align: right;
                }
            }
            .menu {
                padding: 20px 0px 0px;
                .btn {
                    padding: 0px;
                    font-size: 14px;
                    display: flex;
                    font-weight: 500;
                    align-items: center;
                    gap: 7px;
                }
            }
        }
    }
    .empty-pane {
        p {
            font-size: 20px;
        }
    }
}

.dashboard-page {
    .welcome-pane {
        margin-bottom: 30px;
        margin-top: 10px;
        h3 {
            color: #000;
            font-family: 'HW Nuckle Trial';
            margin-bottom: 0px;
        }
        p {
            font-size: 16px;
            color: #000;
            margin-bottom: 0px;
        }
    }
    .stats-card {
        padding: 20px 24px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        box-shadow: 0 4px 0 0 rgb(35 57 91 / 8%);
        cursor: pointer;
        margin-bottom: 15px;
        border: 1px solid #dbe0eb !important;
        background: #fdfafc;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #fdfafc);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #fdfafc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        svg {
            fill: #000;
        }
        
        p {
            font-size: 14px;
            font-weight: 500;
            color: #000 !important;
            margin-bottom: 0px;
        }

        i {
            font-weight: 900;
            // color: #06612e !important;
            font-size: 20px;
        }

        h3 {
            font-weight: 900;
            // color: #06612e !important;
            font-family: 'HW Nuckle Trial';
            margin-bottom: 0px;
        }

        &.active {
          background: #000;
          background: #221daf;
          h3, p, span, i {
            color: #fff !important;
          }
          svg {
            fill: #fff;
          }
        }
        &:hover {
          // border: 1.5px solid $brand-primary-500;
        }
    }

    .link-card {
        padding: 20px 24px;
        border-radius: 12px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        box-shadow: 0 4px 0 0 rgb(35 57 91 / 8%);
        border: 1px solid #dbe0eb !important;
        background: #fdfafc;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #fdfafc);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #fdfafc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        svg {
            fill: #000;
        }
        
        p {
            font-size: 14px;
            font-weight: 400;
            color: #000 !important;
            margin-bottom: 0px;
        }

        h5 {
            font-weight: 900;
            font-size: 20px;
            font-family: 'HW Nuckle Trial';
            margin-bottom: 8px;
            // color: #221daf;
            color: #000;
        }

        .time-text {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;
            font-size: 14px;
            color: #333;
            i {
                color: #333;
            }
        }

        .url-pane {
            background: #F3F6FA;
            border: 0.1rem solid #dbe0eb !important;
            display: inline-flex;
            padding: 10px 15px 10px 15px;
            border-radius: 12px;
            margin-bottom: 8px;
            gap: 20px;
            p {
                color: #221daf !important;
                font-weight: 500;
            }
            i {
                color: #000 !important;;
                font-weight: 900;
                color: #333;
                font-size: 20px;
            }
        }

        .btn-pane {
            margin-top: 20px;
            display: flex;
            gap: 10px;
            button {
                font-size: 14px;
                i {
                    font-size: 15px;
                    margin-right: 5px;
                }
            }
        }

        &.active {
          background: #000;
          background: #221daf;
          h3, p, span, i {
            color: #fff !important;
          }
          svg {
            fill: #fff;
          }
        }
        &:hover {
          // border: 1.5px solid $brand-primary-500;
        }
    }

    .table-pane {
        margin-top: 40px;
        .ant-table {
            border: 1px solid #E7EAED !important;
            border-radius: 8px;
        }
        .ant-table-thead > tr > th { 
            padding: 15px 40px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            background: #06612e;
            color: #fff;
        }
        .ant-table-tbody > tr > td {
            padding: 20px 40px;
            font-size: 14px;
            .gap-2 {
                gap: 20px;
            }
            i {
                font-size: 18px;
            }
        }
        .ant-table-container table > thead > tr:last-child th:first-child {
            border-top-left-radius: 8px;
        }
        .ant-table-container table > thead > tr:last-child th:last-child {
            border-top-right-radius: 8px;
        }
        .ant-table-container table > tbody > tr:last-child td:first-child {
            border-bottom-left-radius: 8px;
        }
        .ant-table-container table > tbody > tr:last-child td:last-child {
            border-bottom-right-radius: 8px;
        }
    }
}

.explore-page {
    .masthead {
        text-align: center;
        padding: 70px 0px 30px;
        h2 {
            color: #221daf;
            font-family: 'HW Nuckle Trial';
            font-size: 40px;
            font-weight: 800;
            margin-bottom: 4px;
        }
        p {
            font-size: 18px;
            color: #000;
            margin-bottom: 0px;
        }
    }

    .search-pane {
        input {
            height: 56px;
            padding: 0px 30px;
        }
    }
}

.create-deck-page {
    .header-card {
        margin-top: 30px;
        background: #147e5e;
        border-radius: 8px;
        padding: 40px 40px 30px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .danger-card {
        margin-top: 30px;
        background: #a31010;
        border-radius: 8px;
        padding: 40px 40px 30px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .page-header {
        h3 {
            font-size: 25px;
            padding-bottom: 4px;
            color: #fff;
            font-family: 'HW Nuckle Trial';
            font-weight: 900;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            color: #000;
            margin-bottom: 8px;
        }
        .btn {
            display: inline-block;
        }
    }
    label {
        color: #fff;
    }
    input {
        border-radius: 8px;
        padding: 7px 20px;
    }
    textarea {
        min-height: 100px;
        margin-top: 8px;
        resize: none;
        border-radius: 8px;
        padding: 15px 20px;
    }

    .visibility {
        display: flex;
        align-items: center;
        span {
            font-size: 18px;
            margin-top: 5px;
        }
    }

    h3.title {
        // font-size: 18px;
        font-weight: 600;
        color: #221daf;
        margin-bottom: 28px;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        color: #221daf;
    }

    .btn {
        background: #fff;
        padding: 7px 20px;
        font-size: 16px;
        font-weight: 600;
        color: #221daf;
        i {
            font-weight: 600;
        }
    }

    .btn-mains {
        border: 2px solid #221daf;
        color: #221daf;
    }

    .flash-card__content {
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 30px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
        .header {
            background: #221daf;
            padding: 10px 30px;
            border-radius: 8px 8px 0px 0px;
            border-bottom: 2px solid #dddddd;
            span, i {
                font-size: 20px;
                color: #fff;
                margin-bottom: 0px;
            }
            span {
                font-weight: 600;
            }
        }
        .content {
            padding: 10px 30px;
        }

        label {
            color: #000;
        }
    }
    .btn-submit {
        background: #2e934c;
        color: #fff;
        margin-bottom: 120px;
    }
}